* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #23252c;
  color: #FFFFFF;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.header {
  position: relative;
  height: 70px;
  width: 100%;
  padding: 20px;
  background-color: #21d4e0;
  color: #23252c;
  font-size: 1.3rem;
  font-weight: 700;
  z-index: 2;
}

.columns {
  margin-top: 0;
  height: calc(100vh - 70px);
  overflow: hidden;
}

.columns> :nth-child(1) {
  border-right: 1px solid #21d3e05e;
}

.menu-list a {
  color: #FFFFFF;
}